#logo {
    font-weight: bold;
}

#login-form {
    position: absolute;
    transform: translate(-50%);
    margin-top: 5%;
    left: 50%;
    width: 40%;
}
.cat-box{
    background-color: #28daec;
    margin: 2%;
    width: 10vw;
    height: 10vw;
    border-radius: 20px;
    text-align: center;
    min-width: 200px;
}

.cat-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.cat-text {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}

.btn-search {
    color: #28daec;
    background-color: white;
    border-color: #28daec;
}

.btn-search:hover {
    color: white;
    background-color: #28daec;
    border-color: #28daec;
}
.recomended {
    width: 90%;
    margin-left: 10%;
    margin-top: 2%;
}
.card {
    margin: 2vw;
}